html {
  --primary-color: #6f41e8;
  --primary-color-lighter: #6f41e8;
  --primary-color-darker: #6f41e8;
  --primary-color-accent: #cee5f6;
  --primary-text-color: #2c3e50;
  --primary-lines-color: #ccc;

  /* Updates color of text in code snippets tabs */
  --code-button-color: #6f41e8;
  --code-button-background: #efedf5;
  --code-button-focus-color: #efedf5;
  --code-button-focus-background: #6f41e8;

  --code-tabs-background: #c9b5fd;
  --code-tabs-tabpanel-background: #efedf5;
  --markdown-syntax-background-color: #efedf5;
  --code-button-active-color: #c9b5fd;
  /* --code-tabs-tabs-background: red; */
  /* --markdown-table-row-odd-background-color */
  /* --primary-lines-color */

  /* Contrast colors */
  --contrast-color-light: #fff;
  --contrast-color-dark: #1d3557;

  /* background-colors */
  --page-background: white;
  --footer-background: #6f41e8;

  /* typography */
  --text-color: black;
  --primary-font-family: "Open Sans", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
  --monospace-font-family: "SFMono-Regular", "Consolas", "Liberation Mono",
    "Menlo", "Courier", monospace;
}

html.dark {
  --primary-color: #6f41e8;
  --primary-color-lighter: #6f41e8;
  --primary-color-darker: #6f41e8;
  --primary-color-accent: #cee5f6;
  --primary-text-color: #eee;

  /* Contrast colors */
  --contrast-color-light: #fff;
  --contrast-color-dark: #1d3557;

  /* background-colors */
  --page-background: #333;
  --footer-background: #4f4f4f;

  /* typography */
  --text-color: white;

  /* markdown */
  --markdown-octicon-link: white;
  --markdown-syntax-background-color: #a0a0a0;
  --markdown-link-color: #fb7881;
  --markdown-blockquote-color: #c9e3ff;
}
